@{
    ViewData["Title"] = "Order Confirmation";
}
<h1 style="text-align:center;">@ViewData["Title"]</h1>


<div class="container center-div w-50">
    <p>
        Your booking has been completed. 

        A confirmation email with attached invoice has been sent to the customer.
    </p>

    <h2>Order number: </h2>
    <h2>Summary</h2>

</div>