@{
    ViewData["Title"] = "Confirmation";
}
<h1>@ViewData["Title"]</h1>


<div class="orderConfirmation">
    <h1>Order Confirmation</h1>
    <p>
        Your booking has been completed. 

        A confirmation email with attached invoice has been sent to the customer at:
    </p>
    put in email entity

    <h2>Order number: (XXXXX)</h2>
    <h2>Summary</h2>

</div>