@{
     ViewData["Title"] = "Select the parcel route";
}

<h1 style="text-align:center;">@ViewData["Title"]</h1>



<div class="container center-div">
    <table class="table" style="width:80%;margin:auto">
      <tr>
        <th> </th>
        <th> </th>
        <th>Est. delivery time</th>
        <th>Est. arrival date</th>
        <th>Price (USD)</th>
      </tr>
      <tr>
        <td> 
            <form>
            <input type="radio" id="cheapestRoute" name="cheapestRoute">
            </form>
        </td>
        <td>Cheapest</td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td> 
            <form>
            <input type="radio" id="fastestRoute" name="fastestRoute">
            </form>
        </td>
        <td>Quickest</td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
      <tr>
        <td> 
            <form>
            <input type="radio" id="greenestRoute" name="greenestRoute">
            </form>
        </td>
        <td>Greenest</td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
      </tr>
</table>
</div>